body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

canvas {
    position: absolute;
}

#video {
    border: 1px solid #ccc;
    border-radius: 8px;
}

#video-wrapper {
  position: relative;
  display: inline-block;
}

#video-wrapper canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#success-img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#success-img.show {
  opacity: 1;
}

button {
    margin-top: 10px;
}
